// mixin for buttons
@mixin button($background-color, $font-color, $border-color){
    border: 1px solid $border-color;
    background-color: $background-color;
    padding: 10px 10px;
    color:$font-color; 
    border-radius: 10px;

    &:hover{
      background-color: $font-color;
      color:$background-color;
    }
}
//  mixin for titles
@mixin title-tour{
  width: fit-content;
  border-bottom: 3px solid black;
  position: relative;
  margin: 0px auto 60px;
  font-size: 34px;
  padding: 10px 20px;
 

 
}


