// mixin for buttons
@mixin button($background-color, $font-color, $border-color){
    border: 1px solid $border-color;
    background-color: $background-color;
    padding: 10px 10px;
    color:$font-color; 
    border-radius: 10px;

    &:hover{
      background-color: $font-color;
      color:$background-color;
    }
}
//  mixin for titles
@mixin title-tour{
  width: fit-content;
  border: 2px solid black;
  position: relative;
  margin: 0px auto 60px;
  font-size: 36px;
  padding: 10px 20px;
  &::after,&::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    top: 50%;
   transform: translateY(-50%);
  }
  
  &::after{
      left: -30px;
  }

  &::before{
      right: -30px;
  }

 
}


