// form-content styles
.form-content{
    .form-control{
       &:focus{
        border-color: $main-color !important;
        box-shadow: none !important;
       }
    }
   
    .form-label{
        color: $main-color;
    }

    .btn-in{
        @include button($btn-color,$second-color, $btn-color);
        
    }

    .link{
        color: $btn-color;
    }
}

// Media queries
@media(max-width:991px){
    .form-content{
      order: 2;
    }

}