@import "./variuable.scss";
@import "./mixies.scss";
@import "./tourOne.scss";
@import "./tourTwo.scss";
@import "./sign.scss";

@font-face{
    font-family:"cario";
    src:url('../font/Cairo-Regular.ttf');
}

body{
    font-family: "cario";
    padding: 0;
    margin: 0;
}

.title{
    text-align: center;
    font-size: 39px;
    color: black;
    position: relative;
    margin-bottom: 80px;
}

.title::after{
    content: "";
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: $btn-color;
    top:59px;
    left:48%;
}

.navbar{
    border-bottom: 1px solid #eee;
    padding: 8px 16px;
     box-shadow: 1px 2px 1px 0px #eee;
    .navbar-brand{
        img{
            width: 50px;
        }

        span{
            color: $main-color;
            font-weight: bold;
            font-size: 30px;
        }
    }

    .navbar-toggler{
        .icon{
            color: $main-color;
            font-size: 19px;
        }
    }

    .navbar-nav{
        .nav-item{
            padding-left: 18px;
            .nav-link{
                color: rgb(163, 156, 156);
                 font-size: 18px;
                 transition: all .5s ease;
                 &.active{
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                 }
                  
                &:hover{
                    color: $main-color;
                }
            }
        }

        .btn{
            @include button($main-color, $second-color, $main-color) 
        }
    }
}


section{
    &.about{
        .landing{
            background-image: url('../images/landing-1.jpg ');
            background-position:center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 400px;

            .overlay{
              width: 100%;
              height: 100%;
              background-color: rgba($color: #000000, $alpha: 0.3); 
              position: relative;
              .context{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%,-50%);
                text-align: center;
                h2{
                    color: $second-color;
                    font-size: 40px;
                }

                p{
                    color: $second-color;
                    font-size: 19px;
                    line-height: 1.5;
                }

              }
            }

        }
        
    }

    &.services{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
       .content{
        .cards{
            margin-bottom: 19px;
            .card{
                border-radius: 16px;
                 transition: all 0.5s ease;
                .card-body{
                    padding: 25px;
                    
                    .icon{
                        color: $main-color;
                        font-size: 29px;
                        margin-bottom: 10px;
                        
                    }
                    h5{
                        color: black;
                        font-size: 20px;
                        font-weight: bold;
                    }

                    p{
                        color: rgb(113, 111, 111); 
                        font-size: 15px;
                    }

                   
                }
            }
        }
       
        .image{
             img{
                 border-radius: 50px;
                width:300px; 
            }
        }
         
       }
    }

    &.tour{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        background-color: #fcf7f7;
       .tour-content{
        margin-left: 90px;
          .card{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: all 0.5s ease;
            &:hover{
                transform:translateY(-19px);
            }
            .card-body{
                padding: 27px;
                position: relative;
                .card-title{
                  font-size: 20px;
                  color: black;
                  margin-top: 28px;
                }
               .price{
                  position: absolute;
                  border: 1px solid $btn-color;
                  background-color: $btn-color;
                  color:$second-color;
                   font-size: 20px;
                  padding: 10px;
                  left: 25px;
                  top: 0px;
                }

                .btn{
                    @include button($main-color, $second-color,$main-color)
                }
            }
          }
       }
    }

    &.contact{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
            .map{
                iframe{
                    width: 90%;
                     height:200px;
                }
            }
             .contact-info{
                .icon{
                    color: $btn-color;
                    padding-left: 10px;
                    font-size: 20px;
                }
                span{
                    font-weight: bold;
                    font-size: 20px;
                }
             } 
       
        .form-contact{
             width:60%;
              margin: 20px auto;
            .input,textarea{
                background-color: #eee;
                &::placeholder{
                    text-align: right;
                    font-size: 20px;
                }
            }
            textarea{
                height: 200px; 
            }
            .btn{
                position: relative;
                button{
                    @include button($btn-color,$second-color,$btn-color);
                    width: fit-content;
                    padding: 10px 30px;
                    position: absolute;
                    left: 10px;
                 }
            }
            
        }
    }


}

footer{
        width:100%;
        background-color: #000000;
        padding: 26px;

        .icon{
            color: $second-color;
            margin-left: 9px;
            font-size: 18px;
            border: 1px solid #eee;
            padding: 14px;
            transition: all 0.5s ease;
            &:hover{
                background-color: $main-color;
                color: black;
            }
        }

        .copyright{
            p{
                font-size:18px ;
                color: #eee;
                text-align: left;
            }   
     } 
}

@media (max-width: 992px){
    .navbar-nav{
        padding-top: 12px;
        .nav-item{
            padding-bottom: 10px;

            .nav-link{
                &.active{
                    border-bottom: none !important;
                 }
            }
        }
        
    }

    section{
        &.services{
            .content{
              
                .cards{
                    text-align: center;
                    margin: 0px 19px 15px;
                }
                 
                .image{
                    img{
                       display: none; 
                   }
               }
            }
        }

        &.tour{
           .tour-content{
            margin-left: 20px;
          }  
        }

        &.contact{
            .map{
                iframe{
                    width: 100%; 
                }
            }

            .form-contact{
                width:90%;
            }
        }
    }
}

@media (max-width: 768px){
 section{
    &.about{
     .overlay{
          .context{
          h2{
          
            font-size: 25px !important;
           }

         p{
            font-size: 16px !important;  
         }

        }
      }
   }
   &.services{
    .cards{
        .card{
            margin: 0px auto;
        }
    }
   }

   &.tour{
    .tour-content{
        .card{
            margin: 15px auto;
        } 
    }
   }
 
}

footer{
    text-align: center;
    .copyright{
        p{
            text-align: center;
        }
       
    }
}
  

}  
    
