// SCSS files
@import "./variable";
@import "./mixies";
@import "./tourOne.scss";
@import "./tourTwo.scss";
@import "./sign.scss";
@import "./tour.scss";

// the font that I use in the pages
@font-face{
    font-family:"cario";
    src:url('../font/Cairo-Regular.ttf');
}
//  body styles
body{
    font-family: "cario";
    padding: 0;
    margin: 0;
}



// navbar styles
.navbar{
    border-bottom: 1px solid #eee;
    padding: 6px 16px;
     box-shadow: 1px 2px 1px 0px #eee;
    .navbar-brand{
        img{
            width: 50px;
        }

        span{
            color: $main-color;
            font-size: 30px;
        }
    }

    .navbar-toggler{
        .icon{
            color: $main-color;
            font-size: 19px;
        }
    }

    .navbar-nav{
        .nav-item{
            padding-left: 18px;
            .nav-link{
                color: rgb(163, 156, 156);
                 font-size: 18px;
                 transition: all .5s ease;
                 &.active{
                    color: $main-color;
                    border-bottom: 1px solid $main-color;
                 }
                  
                &:hover{
                    color: $main-color;
                }
            }
        }

        .btn-one{
            @include button($main-color, $second-color, $main-color);
            text-decoration: none; 
            cursor: pointer;
        }
    }
}
//    the button styles
    #Up{
        position: fixed;
        bottom: 15px;
        right: 15px;
        border: none;
        padding: 20px;
        background-color: $btn-color;
        color: $second-color;
        display: none;
        z-index: 2;
     }
 


section{
    // landing styles
     &.landing{
            background-image: url('../images/landing-1.jpg ');
            background-position:center ;
            background-repeat: no-repeat;
            background-size: cover;
            
          .overlay{
           background-color: rgba(0, 0, 0, 0.3);
            height: 499px;
            // carousel styles
            #carouselExampleCaptions{
                .carousel-item{
                   height: 499px;
                    position: relative;
                    .content{
                        position: absolute;
                        top: 35%;
                        right: 15%;
                        left: 15%;
                        text-align: center !important;
                        z-index: 1;
                        h2{
                            color: $second-color;
                            font-size: 40px;
                            margin-bottom: 10px;
                        }

                        p{
                            color: $second-color;
                            font-size: 19px; 
                        }

                        .btn{
                            @include button($btn-color,$second-color,$btn-color);
                            border-radius: 10px;
                            font-size: 19px;
                            padding: 10px;
                        }
                    }
                }
                .carousel-control-next,
                .carousel-control-prev{
                     font-size: 30px;
                       
                }
            }
          } 
          
      }
    //   services styles
     &.services{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        .title{
            @include title-tour;
            border-color: $main-color;
            &::before,&::after{
                background-color: $btn-color;
            }
        }
        .services-content{
            padding-top: 23px;
          .cards{
            margin-left: 15px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            .card-content{
                .icon{
                    color:$main-color;
                    margin-bottom: 10px;
                    font-size: 27px;
                }
                .card-title{
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                p{
                    color:#878686;
                }
            }
          }
       
         
       }
    }
    // tour styles
    &.tour{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        background-color: #fcf7f7;
        .title{
            @include title-tour;
            border-color: $main-color;
            &::before,&::after{
                background-color: $btn-color;
            }
        }
       .tour-content{
        padding-top: 23px;
          .card{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: all 0.5s ease;
            &:hover{
                transform:translateY(-19px);
            }
            .card-body{
                padding: 27px;
                position: relative;
                .card-title{
                  font-size: 20px;
                  color: black;
                  margin-top: 28px;
                }
               .price{
                  position: absolute;
                  border: 1px solid $main-color;
                  background-color: $main-color;
                  color:$second-color;
                   font-size: 20px;
                  padding: 10px;
                  left: 25px;
                  top: 0px;
                }

                .btn{
                    @include button($btn-color, $second-color,$btn-color)
                }
            }
          }
       }
    }
    // contact styles
    &.contact{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        .title{
            @include title-tour;
            border-color: $main-color;
            &::before,&::after{
                background-color: $btn-color;
            }
        }
          .contact-content{
            padding-top: 23px;
            .map{
                iframe{
                    width: 90%;
                     height:300px;
                }
            }
             .contact-info{
                .icon{
                    color: $btn-color;
                    padding-left: 10px;
                    font-size: 20px;
                }
                span{
                    font-weight: bold;
                    font-size: 20px;
                }
             } 
          }
           
       
        .form-contact{
            //  width:60%;
            //   margin: 20px auto;
              padding-top: 19px;
              .form-control{
                &:focus{
                 border-color: $main-color !important;
                 box-shadow: none !important;
                }
              }
            .input,textarea{
                &::placeholder{
                    text-align: right;
                    font-size: 20px;
                }
            }
            textarea{
                height: 200px; 
            }
            .btn{
                position: relative;
                button{
                    @include button($btn-color,$second-color,$btn-color);
                    width: fit-content;
                    padding: 10px 30px;
                    position: absolute;
                    left: 10px;
                    font-size: 20px;
                 }
            }
            
        }
    }


}

// footer styles

footer{
        width:100%;
        background-color: #000000;
        padding: 26px;

        .icon{
            color: $second-color;
            margin-left: 9px;
            font-size: 18px;
            border: 1px solid #eee;
            padding: 14px;
            transition: all 0.5s ease;
            &:hover{
                background-color: $main-color;
                color: black;
            }
        }

        .copyright{
            p{
                font-size:18px ;
                color: #eee;
                text-align: left;
            }   
     } 
}

// Media queries
@media (max-width: 991px){
    .navbar-nav{
        padding-top: 12px;
        .nav-item{
            padding-bottom: 10px;

            .nav-link{
                &.active{
                    border-bottom: none !important;
                 }
            }
        }
        .btn-one{
            width: fit-content;
        }
    }

    section{


        &.contact{
            .map{
                iframe{
                    width: 100%; 
                }
            }

            .form-contact{
                width:90%;
            }
        }
    }
}

@media (max-width: 767px){
 section{
    &.landing{
        .overlay{
            #carouselExampleCaptions{
                .carousel-item{
                    .content{
                        h2{
                            font-size: 30px;
                        }
                        p{
                            font-size: 16px;
                        }
                    }
                }
            } 
        } 
    }
  
   &.tour{
    .tour-content{
        .card{
            margin: 15px auto;
            &:hover{
                transform:translateY(0px);
            }
        } 
    }
   }

   &.contact{
    .contact-content{
        .contact-info{
            padding-top: 15px;
        }
    }
   }

   &.services,&.tour,&.contact{
    .title{
        @include title-tour;
        font-size: 30px;
        border-color: $main-color;
            &::before,&::after{
                background-color: $btn-color;
        }
    }
   }
 
}

footer{
    text-align: center;
    .copyright{
        p{
            text-align: center;
        }
       
    }
}
  

}  
    
