
section{
    // tour-landing styles
    &.tour-landing{
        background-image: url('../images/landing-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 290px; 
        .overlay{
            background-color: rgba($color: #000000, $alpha: 0.5);
            width: 100%;
            height: 100%;
            position: relative;
            .tour-landing-content{
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translate(50%,-50%);
                text-align: center;
                h3{
                    color: $second-color;
                    font-size: 40px;
                  
                }
            }
        }
    }

    // tour-cards styles

    &.tour-cards{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        .card{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            transition: all 0.5s ease;
            margin-bottom: 30px;
            img{
                height: 260px;
            }
            &:hover{
                transform:translateY(-19px);
            }
            .card-body{
                padding: 27px;
                position: relative;
                .card-title{
                  font-size: 20px;
                  color: black;
                  margin-top: 28px;
                }
               .price{
                  position: absolute;
                  border: 1px solid $main-color;
                  background-color: $main-color;
                  color:$second-color;
                   font-size: 20px;
                  padding: 10px;
                  left: 25px;
                  top: 0px;
                }

                .btn{
                    @include button($btn-color, $second-color,$btn-color)
                }
            }
          }
    }
}



@media(max-width:767px){
    section{
        &.tour-cards{
            .card{
                margin: 0px auto 19px;
                &:hover{
                    transform:translateY(0px);
                }
            }
        }
    }
    
}