// colors of tourOne  page
$title-color: #4b320f;
$line-color:#f8ef42;


section{
    // tour-landingOne styles
    &.tour-landingOne{
        background-image: url('../images/gallery-c5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
       .overlay{
         background-color: rgba($color: #000000, $alpha: 0.5);
         width: 100%;
         height: 100%;
         position: relative;
         .landing-content-one{
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%,-50%);
            text-align: center;
            h3{
              color: $second-color;
              font-size: 40px;
            }
       }
    }
    }

    // tour-descrtionOne styles
    &.tour-descrtionOne{
        padding-top: 100px;
        padding-bottom: 50px;
        .tour-info-one{
          background-color: white;
          padding: 30px;
          border:1px solid #eee;
          box-shadow: 0px 1px 7px 2px #ddd;
            h3{
              color: $title-color;
              font-size: 25px;
              font-weight: bold;
               margin-bottom: 20px;
              position: relative;
              &::after{
                content: "";
                width: 150px;
                height: 4px;
                position: absolute;
                bottom: -9px;
                background-color: #f8f399;
                right: 0px;
              }
            }

            p{
              color:#000;
              line-height: 1.6;
            }
            #Btn{
              @include button($title-color,$second-color,$title-color);
              cursor: pointer;
            }
        }
        .image-dec-one{
          position: relative;
          text-align: center;
          &::before{
             position: absolute;
             content: "";
             width: 80px;
             height: calc(100% + 100px);
             z-index: -1;
             background-color: $title-color;
             left: 90px;
             top: -50px;
            
          }
          img{
            width: 260px;
            height: 350px;
        }
      } 
    }
    // gallery-tour-one styles 
    &.gallery-tour-one{
      padding-top: 100px;
      padding-bottom: 100px;
      //  tour-title styles
      .tour-title{
        @include title-tour;
        border-color: $title-color;
        &::before,&::after{
            background-color: $line-color;
        }
     }
      // swiper styles
      .swiper {
        width: 100%;
        height: 100%;
        padding: 20px 0 50px;

        &-slide {
          img{
            max-height: 250px;
            width: 100%;
            object-fit:cover ;
          }
          }

          &-pagination{
            bottom: -5px;
            &-bullet{
                background-color: $title-color;
                width: 20px;
                height: 20px;
                margin: 10px;
            }
          }
      } 
     
    }

}

@media(max-width:991px){
   section{
    &.tour-descrtionOne{
      // style to hide img 
      .image-dec-one{
        display: none;
      }
    }
     
    &.gallery-tour-one{
      //  style to make the font-size small
      .tour-title{
        @include title-tour;
        border-color: $title-color;
        font-size: 30px;
        &::before,&::after{
            background-color: $line-color;
        }
     }

    //  style to make images in swiper carousel small
     .swiper{
      width: 70%;
      height: 70%;
       
      } 
    }
   }
  
}

@media(max-width:767px){

  section{
    &.tour-landingOne{
      .overlay{
        //  style to make the font-size small
        .landing-content-one{
        
          h3{
            font-size: 30px;
           }
        }
      }
      
    }
  }
 
 
}