
$title-color: #4b320f;
$line-color:#f8f399;


section{
    &.tour-landing{
        background-image: url('../images/gallery-c5.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
       .overlay{
         background-color: rgba($color: #000000, $alpha: 0.5);
         width: 100%;
         height: 100%;
         position: relative;
         .landing-content{
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%,-50%);
            text-align: center;
            h3{
              color: $second-color;
              font-size: 40px;
            }
       }
    }
    }
    &.tour-descrtion{
        padding-top: 100px;
        padding-bottom: 50px;
        .tour-info{
          background-color: white;
          padding: 30px;
          border:1px solid #eee;
          box-shadow: 0px 1px 7px 2px #ddd;
            h3{
              color: $title-color;
              font-size: 25px;
              font-weight: bold;
               margin-bottom: 20px;
              position: relative;
              &::after{
                content: "";
                width: 150px;
                height: 4px;
                position: absolute;
                bottom: -9px;
                background-color: #f8f399;
                right: 0px;
              }
            }

            p{
              color:#000;
              line-height: 1.6;
            }
            #Btn{
              @include button($title-color,$second-color,$title-color)
            }
        }
        .image-dec{
          position: relative;
          text-align: center;
          &::before{
             position: absolute;
             content: "";
             width: 80px;
             height: calc(100% + 100px);
             z-index: -1;
             background-color: $title-color;
             left: 0;
             top: -50px;
            
          }
          img{
            width: 260px;
            height: 350px;
        }
        }
    }

    &.gallery-tour{
      padding-top: 100px;
      padding-bottom: 100px;
     
      .swiper{
        &-slide {
            img {
                display: block;
                width: 100%;
                margin-bottom: 9px;
              }
          }

         &-pagination{
            bottom:-6px;
            &-bullet{
                background-color: $title-color !important;
                width: 18px;
                height: 18px;
                margin: 10px;
            }
        
      }
    }
     
    }

}