// colors of tourTwo pages
$color-title-two: rgb(114, 248, 114);
$color-line-two:rgb(255, 65, 97); 

section{
     // tour-landingTwo styles
    &.tour-landingTwo{
       background-image: url(../images/gallery-t3.jpg);
       background-position: center center;
       background-repeat: no-repeat;
       background-size: cover;
       height: 400px;
       .overlay{
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
        position: relative;
        .landing-content-two{
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%,-50%);
            text-align: center;
            h3{
                color: $second-color;
                font-size: 40px;
              }
          }
       }
    }
     // tour-descrtionTwo styles
    &.tour-descrtionTwo{
        padding-top: $sec-pb;
        padding-bottom: $sec-pb;
        .tour-info-two{
            background-color: white;
            padding: 30px;
            border:1px solid #eee;
            box-shadow: 0px 1px 7px 2px #ddd;
            h3{
                color: $color-title-two;
                position: relative;
                margin-bottom: 20px;
                font-size: 25px;
                font-weight: bold;
                &::after{
                  content: "";
                  position: absolute;
                  width: 150px;
                  height: 4px;
                  background-color: $color-line-two;
                  bottom: -9px;
                  right: 0;
                }
            }
             p{
                color:#000;
                line-height: 1.6;
             }

             #Btn{
                @include button($color-title-two,$second-color,$color-title-two);
                cursor: pointer;
             }
        }

        .image-dec-two{
             position: relative;
             text-align: center;
             &::before{
                position: absolute;
                content: "";
                width: 80px;
                height: calc(100% + 100px);
                z-index: -1;
                background-color: $color-title-two;
                left: 90px;
                top: -50px;
             }
            img{
                width: 260px;
                height: 350px;
            }
        }

    }
    // tour-places styles
    &.tour-places{
        padding-top: $sec-pt;
        padding-bottom:$sec-pb;
        background-color: #f9f7f7;
        .tour-title{
            @include title-tour;
            border-color: $color-title-two;
            &::before,&::after{
                background-color: $color-line-two;
            }
         }
            .content-place{
                border: 1px solid #b5b2b2;
                padding: 28px;
                text-align: center;
                transition: all 0.3s ease;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                &:hover{
                    background-color: $color-line-two;
                    color: white !important;
                }
                h4{
                  font-size: 20px; 
                  border-bottom: 2px solid $color-title-two;
                  padding-bottom: 12px;
                }

                p{
                    font-size: 15px;
                    line-height: 1.7;
                  
                }
            }
        
    }
    //  gallery-tour-two styles
    &.gallery-tour-two{
        padding-top: $sec-pt;
        padding-bottom: $sec-pb;
        //  tour-title styles
        .tour-title{
            @include title-tour;
            border-color: $color-title-two;
            &::before,&::after{
                background-color: $color-line-two;
            }
         }
          // swiper styles
        .swiper {
            width: 100%;
            height: 100%;
            padding: 20px 0 50px;
    
            &-slide {
              img{
                max-height: 250px;
                width: 100%;
                object-fit:cover ;
              }
              }
    
              &-pagination{
                bottom: -5px;
                &-bullet{
                    background-color: $color-line-two;
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                }
              }
          } 
        
      
          
    }

   
}

@media(max-width:991px){
    section{
        &.tour-descrtionTwo{
            // style to hide img
            .image-dec-two{
                display: none;
            } 
        }

        &.tour-places{
            // style to make matgin between cards
            .content-place{
                margin-bottom: 15px;
            } 
        }

        &.gallery-tour-two{
             //  style to make images in swiper carousel small
            .swiper {
                width: 70%;
                height: 70%;
            }
        }
    }
}

@media(max-width:767px){
    section{
    &.tour-landingTwo{
     .overlay{
         .landing-content-two{
              //  style to make the font-size small
                h3{
                  font-size: 35px;
                 }
              }
            }
         }
    &.gallery-tour-two,&.tour-places{
        .tour-title{
            //  style to make the font-size small
            @include title-tour;
            border-color: $color-title-two;
            font-size: 30px;
            &::before,&::after{
                background-color: $color-line-two;
            }
         }

     }

}

     

}